/base/
/base/Debug
/base/Release
/base/Static-Release
/base/x64
/base/ipch
/base/base.VC.db
/base/base.vcxproj.filters
/base/base.vcxproj.user
/projects
/out
/.vs
/test/Release
/test/x64
/test/*.txt

